
%cards {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    margin: $gap*0.7;

    @include breakpoint($tablet) {
      margin: $gap;
    }
  }
}

.cards {
  @extend %cards;

  .card {
    @extend %cards__card;
  }
}

#votes + .cards {
  margin-top: $gap_large;

  @include breakpoint($tablet) {
    margin-top: 2 * $gap_large;
  }
}