
@mixin font-size($sizeValue: 2) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src:
      url('#{$file-path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('#{$file-path}.woff2') format('woff2'), /* Super Modern Browsers */
      url('#{$file-path}.woff') format('woff'), /* Modern Browsers */
      url('#{$file-path}.ttf') format('truetype'), /* Safari, Android, iOS */
      url('#{$file-path}.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
}

@mixin breakpoint($width) {
  @media all and (min-width: $width) {
    @content;
  }
}

@mixin breakpoint-between($min, $max) {
  @media all and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@mixin trim-lines($n, $lh) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
  line-height: $lh;
  height: #{$lh*$n}em;
}

@mixin btn-reset-to-link {
  cursor: pointer;
  display: inline;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: underline;
  background: none;
}

@mixin box-shadow {
  box-shadow: 0px 2px 4px #dadada;
}

@mixin list-simple($item: '> li', $list-main: 'ul > li > a') {
  @include reset-list;

  #{$list-main} {
    padding: .5em 0;
    display: block;

    @include breakpoint($tablet) {
      padding: .5em 0;
    }
  }

  #{$item} {
    text-align: center;
    padding: .5em 0;
    display: block;
    width: 100%;

    @include breakpoint($tablet) {
      text-align: left;
      padding: .5em 0;
    }
  }
}

@mixin hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
