@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/pt-sans-v10-latin-regular.eot");
  src: url("../assets/fonts/pt-sans-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/pt-sans-v10-latin-regular.woff2") format("woff2"), url("../assets/fonts/pt-sans-v10-latin-regular.woff") format("woff"), url("../assets/fonts/pt-sans-v10-latin-regular.ttf") format("truetype"), url("../assets/fonts/pt-sans-v10-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  overflow-x: hidden;
  margin: 0;
  background: #181818;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .35em;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  outline: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.1;
}

@media all and (min-width: 76.7rem) {
  h1 {
    font-size: 48px;
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

@media all and (min-width: 76.7rem) {
  h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
}

@media all and (min-width: 76.7rem) {
  h3 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 10.6px;
  font-size: 1.06rem;
  line-height: 1.2;
}

@media all and (min-width: 76.7rem) {
  h4 {
    font-size: 10.6px;
    font-size: 1.06rem;
  }
}

h5 {
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.2;
}

@media all and (min-width: 76.7rem) {
  h5 {
    font-size: 10px;
    font-size: 1rem;
  }
}

h6 {
  font-size: 8.7px;
  font-size: 0.87rem;
  line-height: 1.2;
}

@media all and (min-width: 76.7rem) {
  h6 {
    font-size: 8.7px;
    font-size: 0.87rem;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

a {
  text-decoration: none;
  color: #09D;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

a:hover {
  outline: 0;
}

ol, ul {
  margin: 0 0 1.5em;
  padding: 0 0 0 1.875em;
}

p {
  margin: 0 0 1.5em;
}

.clearfix.text-formatted p:last-child {
  margin-bottom: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

body.page-node-type-post main {
  margin-left: auto;
  margin-right: auto;
  max-width: 74rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-primary {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: .7em 1.1em;
  -webkit-box-shadow: 0 1px 1px #717171;
          box-shadow: 0 1px 1px #717171;
  border-radius: .2em;
  background-color: #09D;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background-color: #0076aa;
  text-decoration: none;
  color: #fff;
}

.btn-primary:disabled, .btn-primary.disabled {
  background: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-primary--big {
  font-size: 1.56em;
  padding: .5em 1em !important;
}

.btn-primary--small {
  font-size: 0.75em;
}

.btn-primary.big {
  font-size: 1.56em;
  padding: .5em 1em !important;
}

.btn-primary.small {
  font-size: 0.75em;
}

.btn-primary-grey {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: .7em 1.1em;
  -webkit-box-shadow: 0 1px 1px #717171;
          box-shadow: 0 1px 1px #717171;
  border-radius: .2em;
  background-color: #c1c1c1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.btn-primary-grey:active, .btn-primary-grey:hover, .btn-primary-grey:focus {
  background-color: #8e8e8e;
  text-decoration: none;
  color: #fff;
}

.btn-primary-grey:disabled, .btn-primary-grey.disabled {
  background: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-primary-grey--big {
  font-size: 1.56em;
  padding: .5em 1em !important;
}

.btn-primary-grey--small {
  font-size: 0.75em;
}

.btn-primary.grey {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: .7em 1.1em;
  -webkit-box-shadow: 0 1px 1px #717171;
          box-shadow: 0 1px 1px #717171;
  border-radius: .2em;
  background-color: #c1c1c1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.btn-primary.grey:active, .btn-primary.grey:hover, .btn-primary.grey:focus {
  background-color: #8e8e8e;
  text-decoration: none;
  color: #fff;
}

.btn-primary.grey:disabled, .btn-primary.grey.disabled {
  background: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-secondary {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #09D;
  color: #09D;
  padding: .7em 1.1em;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: .2em;
  -webkit-box-shadow: 0 1px 1px #717171;
          box-shadow: 0 1px 1px #717171;
  background: none;
}

.btn-secondary:active, .btn-secondary:hover, .btn-secondary:focus {
  border-color: #0076aa;
  color: #0076aa;
}

.btn-secondary:disabled, .btn-secondary.disabled {
  color: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-secondary--big {
  font-size: 1.56em;
  padding: .5em 1em !important;
}

.btn-secondary--small {
  font-size: 0.75em;
}

.btn-secondary.big {
  font-size: 1.56em;
  padding: .5em 1em !important;
}

.btn-secondary.small {
  font-size: 0.75em;
}

.btn-secondary-white {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #fff;
  color: #fff;
  padding: .7em 1.1em;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: .2em;
  -webkit-box-shadow: 0 1px 1px #717171;
          box-shadow: 0 1px 1px #717171;
  background: none;
}

.btn-secondary-white:active, .btn-secondary-white:hover, .btn-secondary-white:focus {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.btn-secondary-white:disabled, .btn-secondary-white.disabled {
  color: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-secondary-white--big {
  font-size: 1.56em;
  padding: .5em 1em !important;
}

.btn-secondary-white--small {
  font-size: 0.75em;
}

.btn-secondary.white {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #fff;
  color: #fff;
  padding: .7em 1.1em;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  border-radius: .2em;
  -webkit-box-shadow: 0 1px 1px #717171;
          box-shadow: 0 1px 1px #717171;
  background: none;
}

.btn-secondary.white:active, .btn-secondary.white:hover, .btn-secondary.white:focus {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

.btn-secondary.white:disabled, .btn-secondary.white.disabled {
  color: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-flat {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid #09D;
  color: #09D;
}

.btn-flat:active, .btn-flat:hover, .btn-flat:focus {
  border-color: #006491;
  color: #006491;
}

.btn-flat:disabled, .btn-flat.disabled {
  color: #D2D2D2;
  border-color: #D2D2D2;
  cursor: default;
}

.btn-flat--big {
  font-size: 1.56em;
}

.btn-flat--small {
  font-size: 0.75em;
}

.btn-flat.big {
  font-size: 1.56em;
}

.btn-flat.small {
  font-size: 0.75em;
}

/*# sourceMappingURL=styles.css.map */
