@mixin btn--big {
  font-size: $font_size_base_l;
}

@mixin btn--small {
  font-size: $font_size_base_s;
}

@mixin btn-solid--active($active-color: $color) {
  background-color: $active-color;
  text-decoration: none;
  color: $white;
}

@mixin btn-solid($color: $color-primary, $active-color: $color, $text: $white, $shadow: 0 1px 1px #717171) {
  appearance: none;
  padding: .7em 1.1em;
  box-shadow: $shadow;
  border-radius: .2em;
  background-color: $color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $text;
  line-height: 1.2;
  transition: all .25s ease;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;

  &:active, &:hover, &:focus {
    @include btn-solid--active($active-color);
  }
  &:disabled,
    &.disabled {
    background: #D2D2D2;
    border-color: #D2D2D2;
    cursor: default;
  }
}

@mixin btn-solid--big {
  @include btn--big;
  padding: .5em 1em !important;
}

@mixin btn-solid--small {
  @include btn--small;
  padding: .5em 1em !important;
}

.btn-primary { @include btn-solid; }
.btn-primary--big { @include btn-solid--big; }
.btn-primary--small { @include btn--small; }
// Legacy:
.btn-primary.big { @include btn-solid--big; }
.btn-primary.small { @include btn--small; }

.btn-primary-grey { @include btn-solid(#c1c1c1, $white, 20%); }
.btn-primary-grey--big { @include btn-solid--big; }
.btn-primary-grey--small { @include btn--small; }
// Legacy:
.btn-primary.grey { @include btn-solid(#c1c1c1, $white, 20%); }

@mixin btn-void($color: $color-primary, $shadow: 0 1px 1px #717171) {
  appearance: none;
  border: 1px solid $color;
  color: $color;
  padding: .7em 1.1em;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .24s ease;
  display: inline-block;
  font-family: $font_family_headings;
  cursor: pointer;
  border-radius: .2em;
  box-shadow: $shadow;
  background: none;

  &:active, &:hover, &:focus {
    border-color: $color;
    color: $color;
  }
  &:disabled,
    &.disabled {
    color: #D2D2D2;
    border-color: #D2D2D2;
    cursor: default;
  }
}

@mixin btn-void--big {
  @include btn--big;
  padding: .5em 1em !important;
}

@mixin btn-void--small {
  @include btn--small;
}

.btn-secondary { @include btn-void; }
.btn-secondary--big { @include btn-void--big; }
.btn-secondary--small { @include btn--small; }
// Legacy:
.btn-secondary.big { @include btn-void--big; }
.btn-secondary.small { @include btn--small; }

.btn-secondary-white { @include btn-void($white); }
.btn-secondary-white--big { @include btn-void--big; }
.btn-secondary-white--small { @include btn--small; }
// Legacy:
.btn-secondary.white { @include btn-void($white); }

@mixin btn-flat($color: $color-primary, $percent: 15%) {
  appearance: none;
  border: none;
  background: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid $color;
  color: $color;

  &:active, &:hover, &:focus {
    border-color: darken($color, $percent);
    color: darken($color, $percent);
  }
  &:disabled,
    &.disabled {
    color: #D2D2D2;
    border-color: #D2D2D2;
    cursor: default;
  }
}

.btn-flat { @include btn-flat; }
.btn-flat--big { @include btn--big; }
.btn-flat--small { @include btn--small; }
// Legacy:
.btn-flat.big { @include btn--big; }
.btn-flat.small { @include btn--small; }
