%card {
  display: block;
  position: relative;

  &__main {
    @include btn-solid($color-primary, $blue);

    @include breakpoint($tablet) {
      @include btn-solid--big;
    }

    &--active {
      @include btn-solid--active($blue);
    }
  }
  &__radio {
    @include hide;
  }
  &__votes {
    border-radius: 50%;
    display: block;
    position: absolute;
    background: $white;
    min-width: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: .8em;
    box-shadow: 1px 1px 5px #9f9f9f;
    top: -1rem;
    right: -.5em;

    @include breakpoint($tablet) {
      min-width: 3rem;
      line-height: 3rem;
      top: -1.6rem;
      right: -.8em;
      font-size: inherit;
    }
  }
}

.card {
  @extend %card;

  .card__indicator {
    @extend %card__main;
  }
  input[type="radio"]:checked + .card__indicator {
    @extend %card__main--active;
  }
  input[type="radio"] {
    @extend %card__radio;
  }
  .votes {
    @extend %card__votes;
  }
}
