// @TODO: This legacy component into component way.
%menu-primary {
  &__list {
    @include reset-list;
    display: flex;

    @include breakpoint($phablet) {
      flex-direction: column;
    }

    &__item {
      /**/

      &__link {
        display: block;
        color: $white;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}

.region-header .block-menu {
  > ul.menu {
    @extend %menu-primary__list;

    li {

      a {
        @extend %menu-primary__list__item__link;

        &:before {
          display: block;
        }
      }
    }
  }
}

// LEGACY
.region-header .block-menu {
  ul.menu {
    li {
      a {
        padding: 5px 5px 5px 5px;
        transform: none;
        font-size: 10px;
        //text-decoration: none;
        font-weight: normal;
        min-width: 60px;
        height: 60px;
        position: relative;

        &:before {
          text-align: center;
          width: 50px;
          line-height: 50px;
          //@include fontawesome('', 40px);
          color: #999;
        }

        &.is-active:before {
          box-shadow: 0 0 #ccc;
          color: white;
        }

        &.posts:before {
          content: "\f15c";
        }
        &.places:before {
          content: "\f041";
        }
        &.calendar:before {
          content: "\f073";
        }
        &.bands:before {
          content: "\f0c0";
        }
      }
    }
  }
}
