%search_form{
  position: relative;
//  padding: $gap;

  &__label{
    display: none;
  }
  &__description{
    display: none;
  }

  &__form--inline{
    display: flex;
    &__form-item{
      width: 100%;
      margin: 0;
    }
    &__form-actions{
      margin: 0;
    }
  }

  &__input{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border: none;
    border-left: 2px solid $color_primary;
    width: 100%;
    padding: 0 1em 0 1em;
    height: 5rem;
    line-height: 5rem;
    background-color: $grey;
    &:focus{
      outline: none;
    }
  }
  &__button{
    @include btn-solid($color-primary, $white, 0, none);
    line-height: 5rem;
    width: 5rem;
    height: 5rem;
    padding: 0;
    border-radius: 0;
    text-indent: 9999px;
    background-image: url(../images/sprites/search-white-50.png);
    background-size: 4rem 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    
    &:hover{
      background-color: $grey;
    }
  }
}


.search .view-filters{
  @extend %search_form;
  
  label{
    @extend %search_form__label;
  }
  .description{
    @extend %search_form__description;
  }
  .form--inline{
    @extend %search_form__form--inline;
    .form-item{
      @extend %search_form__form--inline__form-item;
    }
    .form-actions{
      @extend %search_form__form--inline__form-actions;
    }
  }
  input[name=search]{
    @extend %search_form__input;
  }
  .button{
    @extend %search_form__button;
  }
}